.clientlist__filter ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  color: #00A5C9;
}

.clientlist__filter {
  font-size: 12px;
  text-align: right;
}

.clientlist__filter ul {
  margin: 0;
}

.clientlist__filter li {
  display: inline-block;
  padding: 12px;
  min-width: 70px;
  text-align: center;
  background: #fff;
  box-shadow: rgb(200, 210, 218) 0px 2px 0px -1px, 
              rgba(89, 99, 107, 0.14902) 0px 1px 2px;
  cursor: pointer;
}

.clientlist__filter li:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;  
}

.clientlist__filter li:last-child {
  border-left: none;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.clientlist__filter li.is-active {
  background: #00A5C9;
  color: #fff;
}

.clientlist__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.clientlist__listitem {
  background: #fff;
  border-radius: 2px;
  padding: 30px;
  box-shadow: rgb(200, 210, 218) 0px 2px 0px -1px, 
              rgba(89, 99, 107, 0.14902) 0px 1px 2px;
  margin-bottom: 6px;
}

.clientlist__listitem:last-child {
  margin-bottom: 0;
}

.clientlist__listitem__date {
  display: inline-block;
  width: 145px;
  font-weight: normal;
  font-size: 12px;
}

.clientlist__listitem__name {
  font-size: 16px;
  font-weight: bold;
}
