.clientlist__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.clientlist__listitem {
  background: #fff;
  border-radius: 2px;
  padding: 30px;
  box-shadow: rgb(200, 210, 218) 0 2px 0 -1px, 
              rgba(89, 99, 107, 0.14902) 0 1px 2px;
  margin-bottom: 6px;
  cursor: pointer;

  &:hover {
    box-shadow: $usabilla-dark-blue 0 0 1px, 
                rgba(89, 99, 107, 0.14902) 0 1px 1px;
    color: $usabilla-dark-blue;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__date {
    display: inline-block;
    max-width: 145px;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
  }
}

.clientlist__list.grid {
  display: flex;
  flex-wrap: wrap;

  .clientlist__listitem {
    width: calc(100% / 3 - 8px);
    margin-right: 12px;
    margin-bottom: 12px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(3n+0) {
      margin-right: 0;
    }

    &__name {
      font-size: 28px;
      word-break: break-word;
    }
  }
}
