footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
  font-size: 12px;
  font-weight: 200;
  width: 100%;
  background: #333;
  text-align: center;
  color: #fff;
  transition: all 200ms ease-in-out;

  &.is-hidden {
    transform: translateY(100%);
    transition: all 200ms ease-in-out;
  }
}
