.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

body {
  background: $light-grey;
}

main {
  padding: 165px 20px 75px;
}

.logo {
  width: 20vh;
  object-fit: contain;
  margin-bottom: 5vh;

  form.minimize & {
    width: 85px;
    object-fit: contain;
    margin-bottom: 2vh;
    align-self: center; 
  }
}

form.is-hidden {
  transform: translateY(-100%);
}

footer.is-hidden,
form.is-hidden {
  overflow: hidden;
}
