body {
  background: #EEF3F7;
}

main {
  padding: 20px;
  position: fixed;
  top: 145px;
  left: 0;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 145px - 50px);
  z-index: -1;
}

.logo {
  width: 20vh;
  object-fit: contain;
  margin-bottom: 5vh;

  form.minimize & {
    width: 10vh;
    object-fit: contain;
    margin-bottom: 2vh;
    align-self: center; 
  }
}
