.request__main-column {
  background: #fff;
  border-radius: 2px;
  padding: 30px;
  box-shadow: rgb(200, 210, 218) 0 2px 0 -1px, 
              rgba(89, 99, 107, 0.14902) 0 1px 2px;
  word-break: break-word;
}

.request__left-column {
  width: calc(100% / 6 - 20px);
  position: fixed;
  word-break: break-word;

  ol {
    padding: 0;
    line-height: 1.4;
  }

  img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    opacity: 0.8;
    padding: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: rgb(200, 210, 218) 0 2px 0 -1px, 
                rgba(89, 99, 107, 0.14902) 0 1px 2px;
    margin-bottom: 15px;

    &.is-copied {
      background: $usabilla-blue;
    }
  }

  li {
    cursor: pointer;
    font-size: 12px;
    margin: 0 auto 25px;
    max-width: 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      img {
        box-shadow: $usabilla-dark-blue 0 0 1px, 
                rgba(89, 99, 107, 0.14902) 0 1px 1px;
      }
      color: $usabilla-dark-blue;
    }
  }
}

.request__date {
  font-size: 14px;
  font-weight: 400; 
  font-style: italic;
  color: #333;
}

.request__main-column {
  width: calc(100% / 3 * 2);
  margin-left: calc(100% / 6);
  min-width: 550px;
}

.request__clientName {
  color: $usabilla-dark-blue;
  font-size: 38px;
  text-transform: capitalize;
}

.request__title {
  border-top: 1px solid #eee;
  margin: 40px 0 25px;
  padding-top: 30px;
  color: $usabilla-dark-blue;
}
